@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: "Poppins", sans-serif;

    --background-color: #0f172a;
    --background-secondary-color: #1e293b;

    --text-color: #f1f5f9;
    --text-secondary-color: #94a3b8;

    --primary-color: #2EC4B6;
    --primary-hover: #26a89c;

    --secondary-color: #334155;
    --secondary-hover: #475569;

    --alert-color: #ef4444;
    --success-color: #22c55e;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    overflow: hidden;
}

.app {
    position: relative;
    width: 100%;
    height: 100dvh;
}

#mapa-container {
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    z-index: 1;
    overflow: visible;
}

#mapa-container {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100vh; /* ou 100% se container tiver altura */
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 360px 1fr;
    grid-template-rows: 60px 1fr;
    height: 100dvh;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1200px;

    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem;
    background: var(--background-secondary-color);
    box-shadow: 4px 0 20px rgba(0,0,0,0.3);
    border-radius: 1rem;
}

.header h1 {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-actions a {
    color: var(--text-secondary-color);
    text-decoration: none;
    cursor: pointer;
}

.header-actions a:hover {
    color: var(--secondary-hover);
}

.menu-btn {
    color: var(--text-color);
    background-color: var(--background-secondary-color);
    border: none;

    padding: 10px 12px;
    font-size: 18px;
    cursor: pointer;
}

.menu-btn:hover {
    color: var(--secondary-hover);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;

    background: var(--background-secondary-color);
    box-shadow: 4px 0 20px rgba(0,0,0,0.3);

    padding: 1.5rem;
    z-index: 1200;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebar-header h2 {
    color: var(--text-secondary-color);
    font-size: 1.1rem;
}

.close-btn {
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: var(--primary-color);
}

.sidebar-section {
    margin-bottom: 1.5rem;
}

.sidebar p {
    color: var(--text-secondary-color);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.search-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 0;
    position: relative;
}

.autocomplete {
    position: relative;
    flex: 1;
    min-width: 0;
}

.autocomplete input {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 8px 0 0 8px;
    border: 1px solid rgba(255,255,255,0.08);
    border-right: none;
    background: var(--background-color);
    color: var(--text-color);
    font-size: 0.95rem;
}

.autocomplete input::placeholder {
    color: var(--text-secondary-color);
}

.autocomplete input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(46,196,182,0.4);
    outline: none;
}

.suggestions {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5; 
    background: var(--background-secondary-color);
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.suggestions div {
    padding: 0.6rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text-color);
}

.suggestions div:hover {
    background: rgba(255,255,255,0.05);
}

.overlay {
    position: absolute;
    inset: 0;

    background: rgba(0,0,0,0.4);
    z-index: 2000;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

#btn-executar {
    white-space: nowrap;
    padding: 0.6rem 1.2rem;
    border-radius: 0 8px 8px 0;
    border: 1px solid rgba(255,255,255,0.08);
    font-size: 0.95rem;
    position: relative;
    z-index: 10;
}

.btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.btn-secondary {
    background: var(--secondary-color);
}

.btn-secondary:hover {
    background: var(--secondary-hover);
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-box {
  background: var(--background-color);
  color: var(--text-color);
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

#loading {
  display: none;
  color: var(--text-secondary-color);
  margin: 1rem 0;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--secondary-hover);
}

.sobre-section {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--text-color);
}

.sobre-section h2 {
    color: var(--text-secondary-color);
    margin-bottom: 0.8rem;
}

.sobre-section p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.highlight {
    background-color: var(--background-secondary-color);
    padding: 1rem;
    padding-left: 2rem;
    border-left: 5px solid var(--text-secondary-color);
    margin: 1rem 0;
}

#alert-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alert {
  min-width: 300px;

  background: #fff;
  border-left: 5px solid var(--alert-color);
  padding: 12px 16px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: slideDown 0.3s ease;
  font-family: sans-serif;
}

.alert.success {
  border-left-color: var(--success-color);
}

.alert.warning {
  border-left-color: #f1c40f;
}

.alert button {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.map-ui {
    position: absolute;
    z-index: 500;
    background: white;
    padding: 10px;
    border-radius: 6px;
}

#legend {
    bottom: 20px;
    left: 20px;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-secondary-color);
    box-shadow: 4px 0 20px rgba(0,0,0,0.3);
}

#legend p {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--text-secondary-color);
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

#sliders {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 320px;
    box-sizing: border-box;
    z-index: 9999;
    font-size: 13px;
    background-color: var(--background-secondary-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    box-shadow: 4px 0 20px rgba(0,0,0,0.3);
}

#toggle-ahp {
    width: 100%;
    padding: 6px 8px;
    border: none;
    background: var(--background-color);
    color: var(--text-secondary-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
