{% extends "base.html" %}
{% block content %}

<section>
    <div class="input-group">
        <h2>Selecione a cidade</h2>

        <div class="analise-group">
            <input
                class="cidade-input"
                name="cidade"
                id="cidade"
                list="cidades-list"
                value="{{ cidade or '' }}"
                placeholder="Digite para buscar..."
                autocomplete="off"
                required
            />

            <datalist id="cidades-list">
                {% for municipio in lista_cidades %}
                    <option value="{{ municipio }}"></option>
                {% endfor %}
            </datalist>

            <button class="btn btn-primary" id="btn-executar">Executar análise</button>
        </div>
        
        {% if mostrar_ajustar_parametros %}
            <div class="ajustar-parametros">
                <button class="btn btn-secondary" onclick="openModal()">Ajustar parâmetros</button>
            </div>
        {% endif %}

        <div id="loading"><span class="loader"></span> Processando análise...</div>
    </div>

    {% if mostrar_ajustar_parametros %}
        <div id="configModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2 class="modal-title">Configurações</h2>

                <form class="modal-form" method="POST" action="{{ url_for('config') }}">

                    <p class="modal-subtitle">Pesos AHP</p>
                    <div id="criteriaContainer"></div>

                    <p class="modal-subtitle">Classes</p>
                    <div id="classesContainer"></div>

                    <br><br>
                    <button class="btn btn-secondary" type="button" id="btn-reset-pesos">Resetar pesos (padrão)</button>
                    <button class="btn btn-primary" type="submit">Salvar Configurações</button>
                </form>
            </div>
        </div>
    {% endif %}

    <div id="mapa-container">
        {% if mapa_html %}
            {{ mapa_html|safe }}
        {% endif %}
    </div>
</section>


<script src="{{ url_for('static', filename='js/script.js') }}">
</script>
{% endblock %}
