{% extends "base.html" %}
{% block content %}

<section>
    <div class="top-bar">
        <div class="search-group">
            <div class="autocomplete">
                <input id="cidade" name="cidade" placeholder="Buscar cidade..." />
                <div id="cidade-data" data-cidades='{{ lista_cidades|tojson }}'></div>
                <div id="suggestions" class="suggestions"></div>
            </div>

            <button class="btn btn-primary" id="btn-executar">Executar análise</button>
        </div>
    </div>

    <!--<div class="ajustar-parametros">
        <button class="btn btn-secondary" onclick="openModal()">Ajustar parâmetros</button>
    </div>-->

    <div id="loading"><span class="loader"></span> Processando análise...</div>

    <div id="configModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 class="modal-title">Configurações</h2>

            <form class="modal-form" method="POST" action="{{ url_for('config') }}">

                <p class="modal-subtitle">Pesos AHP</p>
                <div id="criteriaContainer"></div>

                <p class="modal-subtitle">Classes</p>
                <div id="classesContainer"></div>

                <br><br>

                <button class="btn btn-primary" type="submit">Salvar Configurações</button>
            </form>
        </div>
    </div>

    <div id="mapa-container">
        {% if mapa_html %}
            {{ mapa_html|safe }}
        {% endif %}
    </div>
</section>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/scriptInput.js') }}"></script>
{% endblock %}
